In [2]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
temp = df.groupby('Pclass')['Age'].mean()
age_1 = temp[1]
age_2 = temp[2]
age_3 = temp[3]

In [4]:
def fill_age(row):
    if pd.isnull(row['Age']):
        if row['Pclass'] == 1:
            return age_1
        elif row['Pclass'] == 2:
            return age_2
        elif row['Pclass'] == 3:
            return age_3
    else:
        return row['Age']

df['Age'] = df.apply(fill_age, axis=1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
df['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [7]:
df['Embarked'] = df['Embarked'].fillna('S')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
names = df['Name'].copy()

In [10]:
df.drop(['Name', 'PassengerId', 'Cabin', 'Ticket'], axis=1, inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [12]:
def convert(value):
    if value == 'male':
        return 1
    else:
        return 0
df['Sex'] = df['Sex'].apply(convert)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
dtypes: float64(2), int64(5), object(1)
memory usage: 55.8+ KB

In [14]:
df['Embarked'].value_counts()

Embarked
S    646
C    168
Q     77
Name: count, dtype: int64

In [15]:
df[list(pd.get_dummies(df['Embarked']).columns)]=pd.get_dummies(df['Embarked'])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
 8   C         891 non-null    bool
 9   Q         891 non-null    bool
 10  S         891 non-null    bool
dtypes: bool(3), float64(2), int64(5), object(1)
memory usage: 58.4+ KB

In [17]:
df.drop('Embarked', axis=1, inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   C         891 non-null    bool
 8   Q         891 non-null    bool
 9   S         891 non-null    bool
dtypes: bool(3), float64(2), int64(5)
memory usage: 51.5 KB

In [19]:
df.groupby('Pclass')['Survived'].mean()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [20]:
df.groupby('Pclass')['Survived'].count()

Pclass
1    216
2    184
3    491
Name: Survived, dtype: int64

In [21]:
df.groupby('Pclass')['Survived'].sum()

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

In [22]:
# Pclass muhim rol o'ynaydi tirik qolishida

In [23]:
df.groupby('Sex')['Survived'].mean()

Sex
0    0.742038
1    0.188908
Name: Survived, dtype: float64

In [24]:
df.groupby('Sex')['Survived'].count()

Sex
0    314
1    577
Name: Survived, dtype: int64

In [25]:
df.groupby('Sex')['Survived'].sum()

Sex
0    233
1    109
Name: Survived, dtype: int64

In [26]:
#jinsi ham muhim ekan

In [27]:
df[df['Age'] <= 13]['Survived'].mean()

np.float64(0.5915492957746479)

In [28]:
df[df['Age'] > 13]['Survived'].mean()

np.float64(0.36585365853658536)

In [29]:
df['Parch'].value_counts()

Parch
0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: count, dtype: int64

In [30]:
df['SibSp'].value_counts()

SibSp
0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: count, dtype: int64

In [31]:
df['Relatives'] = df['Parch'] + df['SibSp']

In [32]:
def convert(value):
    if value > 0:
        return 1
    else:
        return 0
df['Relatives'] = df['Relatives'].apply(convert)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Survived   891 non-null    int64
 1   Pclass     891 non-null    int64
 2   Sex        891 non-null    int64
 3   Age        891 non-null    float64
 4   SibSp      891 non-null    int64
 5   Parch      891 non-null    int64
 6   Fare       891 non-null    float64
 7   C          891 non-null    bool
 8   Q          891 non-null    bool
 9   S          891 non-null    bool
 10  Relatives  891 non-null    int64
dtypes: bool(3), float64(2), int64(6)
memory usage: 58.4 KB

In [34]:
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,C,Q,S,Relatives
0,0,3,1,22.0,1,0,7.2500,False,False,True,1
1,1,1,0,38.0,1,0,71.2833,True,False,False,1
2,1,3,0,26.0,0,0,7.9250,False,False,True,0
3,1,1,0,35.0,1,0,53.1000,False,False,True,1
4,0,3,1,35.0,0,0,8.0500,False,False,True,0

In [35]:
df['Relatives'].value_counts()

Relatives
0    537
1    354
Name: count, dtype: int64

In [36]:
df.groupby('Relatives')['Survived'].mean()

Relatives
0    0.303538
1    0.505650
Name: Survived, dtype: float64

In [37]:
df.drop('Relatives', axis=1, inplace=True)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   C         891 non-null    bool
 8   Q         891 non-null    bool
 9   S         891 non-null    bool
dtypes: bool(3), float64(2), int64(5)
memory usage: 51.5 KB

In [39]:
df['Fare'].value_counts()

Fare
8.0500     43
13.0000    42
7.8958     38
7.7500     34
26.0000    31
           ..
13.8583     1
50.4958     1
5.0000      1
9.8458      1
10.5167     1
Name: count, Length: 248, dtype: int64

In [40]:
df['Fare'].mean()

np.float64(32.204207968574636)

In [41]:
df[df['Fare'] >= 32]['Survived'].mean()

np.float64(0.5971563981042654)

In [42]:
df[df['Fare'] < 32]['Survived'].mean()

np.float64(0.3176470588235294)

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score

In [45]:
x = df.drop('Survived', axis=1)
y = df['Survived']

In [46]:
x_train, x_test, y_train, y_test, names_train, names_test = train_test_split(x, y, names, test_size=0.25, random_state=42)

In [47]:
sc = StandardScaler()

In [48]:
x_train = sc.fit_transform(x_train)

In [49]:
x_test = sc.transform(x_test)

In [50]:
classifier = KNeighborsClassifier(n_neighbors=9)
classifier.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=9)

In [51]:
preds = classifier.predict(x_test)

In [52]:
print('Confusion matrix:')
print(confusion_matrix(y_test,preds))

Confusion matrix:
[[111  23]
 [ 26  63]]

In [53]:
print('Accuracy score:')
print(accuracy_score(y_test,preds))

Accuracy score:
0.7802690582959642

In [54]:
results = pd.DataFrame(
    {
        'Name': names_test,
        'Actual': y_test.values,
        'Predicted': preds
    }
)

In [56]:
print('Survived and Predicted correctly:')
survived_correct = results[(results['Actual'] == 1) & (results['Predicted'] == 1)]
print('Survived_correct:', len(survived_correct))
for name in survived_correct['Name'].values:
    print('Name', name)

Survived and Predicted correctly:
Survived_correct: 63
Name Harper, Miss. Annie Jessie "Nina"
Name Nicola-Yarred, Miss. Jamila
Name Barber, Miss. Ellen "Nellie"
Name Kelly, Miss. Anna Katherine "Annie Kate"
Name Carr, Miss. Helen "Ellen"
Name Newsom, Miss. Helen Monypeny
Name Lines, Miss. Mary Conover
Name O'Leary, Miss. Hanora "Norah"
Name Madigan, Miss. Margaret "Maggie"
Name Serepeca, Miss. Augusta
Name Baclini, Miss. Marie Catherine
Name Hays, Mrs. Charles Melville (Clara Jennings Gregg)
Name Carter, Master. William Thornton II
Name Taussig, Miss. Ruth
Name Baxter, Mrs. James (Helene DeLaudeniere Chaput)
Name Cameron, Miss. Clear Annie
Name Devaney, Miss. Margaret Delia
Name Mellinger, Miss. Madeleine Violet
Name Clarke, Mrs. Charles V (Ada Maria Winfield)
Name Stephenson, Mrs. Walter Bertram (Martha Eustis)
Name Ryerson, Miss. Emily Borie
Name Compton, Miss. Sara Rebecca
Name Frolicher, Miss. Hedwig Margaritha
Name Nye, Mrs. (Elizabeth Ramell)
Name Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)
Name Newell, Miss. Madeleine
Name Francatelli, Miss. Laura Mabel
Name Goldsmith, Master. Frank John William "Frankie"
Name Ball, Mrs. (Ada E Hall)
Name Bishop, Mrs. Dickinson H (Helen Walton)
Name Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)
Name Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
Name Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
Name Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)
Name Bazzani, Miss. Albina
Name Andrews, Miss. Kornelia Theodosia
Name Caldwell, Master. Alden Gates
Name Leader, Dr. Alice (Farnham)
Name Mockler, Miss. Helen Mary "Ellie"
Name Yasbeck, Mrs. Antoni (Selini Alexander)
Name Fleming, Miss. Margaret
Name Drew, Mrs. James Vivian (Lulu Thorne Christian)
Name Spencer, Mrs. William Augustus (Marie Eugenie)
Name Moran, Miss. Bertha
Name McDermott, Miss. Brigdet Delia
Name Angle, Mrs. William A (Florence "Mary" Agnes Hughes)
Name Meyer, Mrs. Edgar Joseph (Leila Saks)
Name Kenyon, Mrs. Frederick R (Marion)
Name Greenfield, Mr. William Bertram
Name Silven, Miss. Lyyli Karoliina
Name Ilett, Miss. Bertha
Name Sandstrom, Miss. Marguerite Rut
Name Bystrom, Mrs. (Karolina)
Name Parrish, Mrs. (Lutie Davis)
Name Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
Name Endres, Miss. Caroline Louise
Name Dick, Mrs. Albert Adrian (Vera Gillespie)
Name Hart, Miss. Eva Miriam
Name Turkula, Mrs. (Hedwig)
Name Peter, Mrs. Catherine (Catherine Rizk)
Name Minahan, Miss. Daisy E
Name Christy, Miss. Julie Rachel
Name Shelley, Mrs. William (Imanita Parrish Hall)

In [57]:
print('Survived and Predicted incorrectly:')
survived_correct = results[(results['Actual'] == 1) & (results['Predicted'] == 0)]
print('Survived_correct:', len(survived_correct))
for name in survived_correct['Name'].values:
    print('Name', name)

Survived and Predicted incorrectly:
Survived_correct: 26
Name Moubarek, Master. Halim Gonios ("William George")
Name Kimball, Mr. Edwin Nelson Jr
Name Seward, Mr. Frederic Kimber
Name Andersen-Jensen, Miss. Carla Christine Nielsine
Name Wilhelms, Mr. Charles
Name Nysten, Miss. Anna Sofia
Name Cohen, Mr. Gurshon "Gus"
Name Sloper, Mr. William Thompson
Name Behr, Mr. Karl Howell
Name Taylor, Mr. Elmer Zebley
Name Dahl, Mr. Karl Edwart
Name de Mulder, Mr. Theodore
Name Blank, Mr. Henry
Name McGough, Mr. James Robert
Name Homer, Mr. Harry ("Mr E Haven")
Name Moubarek, Master. Gerios
Name Emanuel, Miss. Virginia Ethel
Name Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
Name Foo, Mr. Choong
Name Bradley, Mr. George ("George Arthur Brayton")
Name Flynn, Mr. John Irwin ("Irving")
Name Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)
Name Woolner, Mr. Hugh
Name Sheerlinck, Mr. Jan Baptist
Name Barah, Mr. Hanna Assi
Name Carter, Mr. William Ernest

In [58]:
print('Survived and Predicted correctly:')
survived_correct = results[(results['Actual'] == 0) & (results['Predicted'] == 1)]
print('Survived_correct:', len(survived_correct))
for name in survived_correct['Name'].values:
    print('Name', name)

Survived and Predicted correctly:
Survived_correct: 23
Name Porter, Mr. Walter Chamberlain
Name Olsson, Miss. Elina
Name Barbara, Mrs. (Catherine David)
Name Newell, Mr. Arthur Webster
Name Mack, Mrs. (Mary)
Name Lahtinen, Mrs. William (Anna Sylfven)
Name Mangan, Miss. Mary
Name Funk, Miss. Annie Clemmer
Name Rosblom, Mrs. Viktor (Helena Wilhelmina)
Name Artagaveytia, Mr. Ramon
Name Gee, Mr. Arthur H
Name Farthing, Mr. John
Name Goldschmidt, Mr. George B
Name Ford, Mrs. Edward (Margaret Ann Watson)
Name Caram, Mrs. Joseph (Maria Elias)
Name Carter, Mrs. Ernest Courtenay (Lilian Hughes)
Name Bourke, Mrs. John (Catherine)
Name Boulos, Miss. Nourelain
Name Partner, Mr. Austen
Name Baxter, Mr. Quigg Edmond
Name Cacic, Miss. Marija
Name Widener, Mr. Harry Elkins
Name Yrois, Miss. Henriette ("Mrs Harbeck")